<div class="container" rtl>
  <div class="row">
    <div class="col-md-6">
      <h2>{{ 'anms.examples.crud.subtitle1' | translate }}</h2>
      <mat-card *ngFor="let movie of movies$ | async" [ngClass]="routeAnimationsElements" (click)=select(movie)>
        <h3>{{movie.title}}</h3>
        <div class="image-container">
          <img src="{{movie.imageUrl}}" alt="movie poster" height="300">
        </div>
        <div class="mt-3">
          <p>{{movie.description}}</p>
        </div>
      </mat-card>
      <p *ngIf="(movies$ | async)?.length === 0">{{'anms.examples.crud.empty' | translate}}</p>
      <button type="button" mat-fab color="primary" class="add" [ngClass]="routeAnimationsElements" *ngIf="!isEditing"
        (click)="addNew(movieForm)">
        <fa-icon icon="plus"></fa-icon>
      </button>
    </div>
    <div class="col-md-6">
      <span class="d-flex justify-content-between">
        <h2>{{ 'anms.examples.crud.subtitle2' | translate }}</h2>
        <span class="d-flex justify-content-end">
          <span *ngIf="selectedmovie$ | async as selectedmovie">
            <button mat-icon-button color="accent" *ngIf="!isEditing">
              <fa-icon icon="edit" (click)="edit(selectedmovie)"
                [matTooltip]="'anms.examples.crud.tooltip.edit' | translate" matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button color="warn" (click)="delete(selectedmovie)">
              <fa-icon icon="trash" [matTooltip]="'anms.examples.crud.tooltip.delete' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
            <button mat-icon-button (click)="deselect()">
              <fa-icon icon="times" [matTooltip]="'anms.examples.crud.tooltip.deselect' | translate"
                matTooltipPosition="above">
              </fa-icon>
            </button>
          </span>
        </span>
      </span>
      <form #movieForm="ngForm" [formGroup]="movieFormGroup" [style.display]="isEditing ? 'block' : 'none'"
        [ngClass]="routeAnimationsElements">
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder1' | translate }}" formControlName="title"
              required autofocus>
            <mat-error *ngIf="movieFormGroup.get('title').invalid">
              {{ 'anms.examples.crud.placeholder1' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder2' | translate }}" formControlName="imageUrl"
              required>
            <mat-error *ngIf="movieFormGroup.get('imageUrl').hasError('required')">
              {{ 'anms.examples.crud.placeholder2' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <input matInput placeholder="{{ 'anms.examples.crud.placeholder8' | translate }}"
              formControlName="videoUrl">
            <mat-error *ngIf="movieFormGroup.get('videoUrl').hasError('required')">
              {{ 'anms.examples.crud.placeholder8' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col">
            <textarea matInput placeholder="{{ 'anms.examples.crud.placeholder3' | translate }}"
              formControlName="description" rows="5"></textarea>
            <mat-error *ngIf="movieFormGroup.get('description').invalid">
              {{ 'anms.examples.crud.placeholder1' | translate }}
              {{ 'anms.examples.crud.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <button (click)="save()" mat-raised-button color="primary">
              {{'anms.examples.crud.save' | translate }}
            </button>
            <button (click)="cancelEditing()" mat-raised-button>
              {{'anms.examples.crud.cancel' | translate }}
            </button>
          </div>
        </div>
      </form>
      <ng-container *ngIf="!isEditing">
        <div [ngClass]="routeAnimationsElements"
          *ngIf="selectedmovie$ | async as selectedmovie; else noSelectedmovieTmpl">
          <h3>{{ selectedmovie.title }}</h3>
          <video width="320" height="240" controls>
              <source src="{{selectedmovie.videoUrl}}" type="video/mp4">
          </video>
          <p>{{ selectedmovie.description }}</p>
        </div>

        <!-- <ng-template #noSelectedmovieTmpl>
          <p [ngClass]="routeAnimationsElements">
            {{'anms.examples.crud.text' | translate }} <code>@ngrx/entity</code>.
          </p>
        </ng-template> -->
      </ng-container>

    </div>
  </div>
</div>
